<h3>Crear Persona</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombres</label>
      <input type="text" class="form-control" id="nombres" required [(ngModel)]="persona.nombres" name="nombres">
    </div>

    <div class="form-group">
      <label for="name">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" required [(ngModel)]="persona.apellidos" name="apellidos">
    </div>

    <div class="form-group">
      <label for="name">Numero Documento</label>
      <input type="number" class="form-control" id="numeroDocumento" required [(ngModel)]="persona.numeroDocumento" name="numeroDocumento">
    </div>

    <div class="form-group">
        <label for="name">Genero</label>
        <input type="text" class="form-control" id="genero" required [(ngModel)]="persona.genero" name="genero">
      </div>

      <div class="form-group">
        <label for="name">Edad</label>
        <input type="text" class="form-control" id="edad" required [(ngModel)]="persona.edad" name="edad">
      </div>
      <div class="form-group">
        <label for="name">Tipo Documento</label>
        <input type="text" class="form-control" id="tipoDocumento" required [(ngModel)]="persona.tipoDocumento.tipoDocumento" name="tipoDocumento">
      </div>

      <div class="form-group">
        <label for="name">Pais</label>
        <input type="text" class="form-control" id="pais" required [(ngModel)]="persona.pais.nombre" name="pais">
      </div>

    <button type="submit" class="btn btn-success">guardar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newpersona()">Add</button> -->
</div>
