<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de Personas</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Numero Documento</th>
            <th>Genero</th>
            <th>edad</th>
            <th>Tipo Documento</th>
            <th>Pais</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas | async">
            <td>{{persona.nombres}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.numeroDocumento}}</td>
            <td>{{persona.genero}}</td>
            <td>{{persona.edad}}</td>
            <td>{{persona.tipoDocumento.tipoDocumento}}</td>
            <td>{{persona.pais.nombre}}</td>
            <td><button (click)="eliminarPersona(persona)" class="btn btn-danger">Eliminar</button>
                <button (click)="getPersonaDetalle(persona.id)" class="btn btn-info" style="margin-left: 10px">Detalle</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
