<h2>Detalle Personas</h2> 
<hr/>
<div *ngIf="persona">
  <div>
    <label><b>Nombres: </b></label> {{persona.nombres}}
  </div>
  <div>
    <label><b>Apellidos: </b></label> {{persona.apellidos}}
  </div>
  <div>
    <label><b>Numero documento: </b></label> {{persona.numeroDocumento}}
  </div>  
</div>
<button (click)="list()" class="btn btn-primary">Volver a la lista de empleados</button>